body {
  background-color: rgb(79, 30, 59);
  /* test */
}



/* main containers */
.root {
  height: calc(100vh - 15vh);
  padding-top: 15vh;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.middleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}



/* search inputs */
.searchWrapper {
  display: flex;
  border: none;
  border-radius: 15px;
  width: 500px;
  max-width: 90vw;
  overflow: hidden;
}

.searchWrapper.withSuggestions {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.searchInput {
  font-family: 'Google Sans', sans-serif;
  background-color: white;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  border: none;
  transition: opacity, color 0.2s ease;
}

.searchButton {
  background-color: white;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.searchButton:hover {
  transform: scale(1.1);
}

.searchIcon {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: scale(0.76);
}

.suggestions {
  list-style: none;
  padding-left: 0;
  margin: 0;
  align-items: left;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.suggestions>li {
  font-family: 'Google Sans', sans-serif;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
}


.searchWrapper.withSuggestions+.suggestions {
  /* only turned on when there are active suggestions */
  padding-bottom: 10px;
}

.suggestions>li:hover {
  background-color: #f0f0f0;
}


/* file management */
.newFileButton {
  width: 160px;
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  background: #0078d7;
  color: white;
  border: none;
  border-radius: 10px;
}



/* firefox logos */
.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 25px;
  transform: scale(0.6);
}

.firefoxLogo {
  background: url("chrome://branding/content/about-logo.png") no-repeat center;
  /* doesnt crop when changing the px size */
  background-size: contain;
  height: 100px;
  width: 100px;
}

.firefoxWordmark {
  background: url("chrome://branding/content/firefox-wordmark.svg") no-repeat center center;
  background-size: contain;
  width: 172px;
  height: 42px;
}